/* header */

.cabecalho {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-branca)
}

.container {
    display: flex;
    align-items: center;
}

.container__titulo {
    display: none;
}

.container__imagem {
    padding: 0.938rem;
}



.cabecalho__menu-hamburguer {
    width: 26px;
    height: 26px;
    background-image: url("../img/Menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.lista-menu {
    background-color: var(--cor-de-fundo);
    display: none;
    position: absolute;
    top: 100%;
    width: 80vw;
    height: auto;

}

.lista-menu__titulo {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--cor-laranja)
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background-color: var(--cor-branca);
}

.lista-menu__item {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.lista-menu__item a {
    text-decoration: none;
}

.container__botao {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url('../img/menu_aberto.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

    background-color: var(--cor-azul);
}

.container__botao:checked~.lista-menu {

    display: block;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

/* Responsivo */

@media screen and (min-width: 1024px) {
    .cabecalho {
        margin: 0 4rem;
    }

    .container__rotulo {
        display: none;
    }

    .container__titulo {
        display: block;

        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.875rem;
        line-height: 1.875rem;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .opcoes__item {

        padding: 0 1rem;
        text-transform: uppercase;
    }

    .opcoes__item:active {
        background: var(--cor-azul);
        color: var(--cor-branca);
    }

    .opcoes__item:focus {
        background: var(--cor-azul);
        color: var(--cor-branca);
    }




    .opcoes__link {
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        color: var(--cor-preta)
    }

    .container__imagem--favoritos {
        display: none;
    }
}


@media screen and (min-width:1728px) {
    .container__texto {
        display: block;

        font-size: 1rem;
        font-weight: 400;

        color: var(--cor-preta);

    }

    .container__rotulo {
        display: none;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-align: center;

        font-weight: 400;
        font-size: 20px;
        line-height: 30px;

        color: var(--cor-preta);
        text-decoration: none;
    }

    .opcoes {
        margin-right: auto;
    }
}